.plate-form > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form label {
    font-weight: bold;
}

.group-radios {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.group-radios input[type="radio"] {
    cursor: pointer;
}

.group-date {
    display: flex;
    gap: 1rem;
}