@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.card-screen-preview {
    width: 280px;
    height: 396px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    user-select: none;
}

.card-screen-preview .card-body {
    padding: 0;
    overflow: hidden;
}

.cabecalho-oferta {
    /*
    position: relative;
    background-color: #e03131;
    color: white;
    text-align: center;
    font-weight: 900;
    padding: 20px 0;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    */

    position: relative;
    background: #e60000;
    width: 100%;
    height: 65px;
    margin: 0px auto;
}

.cabecalho-oferta::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 0;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-top: 30px solid #e60000;
  }

.cabecalho-oferta > h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3.8rem; 
    letter-spacing: 5px; 
    line-height: 1;          
    text-transform: uppercase;
    color: white;
    position: absolute;
    transform: translateX(3px);
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
    margin: auto;   
}

.conteudo-oferta {
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 30px 10px 0px 10px;
    height: calc(100% - 65px);
}

.descricao {
    font-size: 1rem;
    margin-top: 20px;
    letter-spacing: 1px; 
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.preco {
    font-size: 5rem;
    font-weight: 900;
    margin: 0;
    line-height: 1;
    margin-top: 10px;
}

.rodape {
    margin-top: 60px;
}

.logo {
    width: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.validade {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

